<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Reclamation</h4>
                        <p class="card-category">Complete les champs du Reclaamtion</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                  
                                      <input [(ngModel)]="Reclamation.date"  matInput placeholder="date" >
                                    
                                </div>
                                <div class="col-md-3">
                                   
                                      <input [(ngModel)]="Reclamation.titre"  matInput placeholder="titre">
                                   
                                </div>
                                <div class="col-md-4">
                                   
                                      <input [(ngModel)]="Reclamation.description"  matInput placeholder="description" >
                                   
                                </div>
                           
                            </div>
                            <button  mat-raised-button type="submit" class="btn btn-danger pull-right">Update Reclamation</button>
                            <div class="clearfix"></div>
                            <button    mat-raised-button type="submit" class="btn btn-danger pull-right">Effacer Reclamation</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>